{% extends "base.html" %}

{% block content %}
<form align='center' class="pure-form pure-form-stacked" method="post">
    {% csrf_token %}
    {% if get %}
    <h1></h1>
    {% else %}
        {% if success %}
            <h1>{{ sorteado }} {{ telefone }}</h1>
        {% else %}
            <h1>Não tem mais ninguém para sortear</h1>
        {% endif %}
    {% endif %}
    <div class="pure-controls">
        <button type="submit" class="btn btn-primary mt-4">Sortear</button>
    </div>
</form>
{% endblock %}