{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<form align='left' class="col-4 m-auto pt-3 pb-2 text-left" method="post">
    {% csrf_token %}
    {% if success %}
    <p>Inscrição realizada com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {{ form|bootstrap }}
        {% comment %} {% for field in form %}
        <div align='center' class="form-label">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %} {% endcomment %}
        <div align='center'  class="form-label">
            <button type="submit" class="btn btn-primary mt-4">Cadastrar Inscrição</button>
        </div>
    </fieldset>
</form>
{% endblock %}