{% extends "base.html" %}

{% block content %}
<div class="form col-10 col-sm-10 col-md-6 col-lg-6">
    <form align='center' class="pure-form pure-form-stacked" method="post">
        {% csrf_token %}
        {% if get %}
        <h1></h1>
        {% else %}
            {% if success %}
                <h1>Zerada a lista de participantes presentes</h1>
            {% else %}
                <h1>Não tem mais ninguém marcado como presente</h1>
            {% endif %}
        {% endif %}
        <div class="pure-controls">
            <button type="submit" class="btn btn-primary mt-4">Zerar Participantes</button>
        </div>
    </form>
</div>
{% endblock %}